coverage
.coverage
.pydevproject
.project
.vscode
*.pyc
*~
*.egg-info/
__pycache__/
build/
sdist/
dist/
.tox/
terraform/.terraform
terraform/*.tfstate*
terraform/*.txt
terraform/*.out
terraform/local.tfvars
terraform/.terraform.lock.hcl
terraform/builds/
scripts/*.json

testing/predict_lambda_tests/*

tests/test_artifacts/*

*.DS_Store
